<template>
    <div class="carousel relative">
    <div class="carousel-cell">
      <a href="#" class="block">
        <img
          src="//theme.hstatic.net/1000325675/1000665687/14/slider_1.jpg?v=35"
          alt="alt custom"
        />
      </a>
    </div>
  </div>
  <div class="grid grid-cols-6 mt-3">
    <div class="col-start-2 col-span-4">
      <div class="flex flex-row justify-between">
        <div class="basis-2/6 border-2 p-8 hover:bg-gray-200">
          <div class="text-center">
            <div class="flex justify-center text-center">
              <img
                src="//theme.hstatic.net/1000325675/1000665687/14/policy1.png?v=35"
                alt="MIỄN PHÍ VẬN CHUYỂN"
              />
            </div>
            <span class="font-medium">MIỄN PHÍ VẬN CHUYỂN</span>
            <p>Trong 10km với mọi đơn đặt hàng</p>
          </div>
        </div>
        <div class="basis-2/6 border-2 p-8 hover:bg-gray-200">
          <div class="text-center">
            <div class="flex justify-center text-center">
              <img
                src="//theme.hstatic.net/1000325675/1000665687/14/policy2.png?v=35"
                alt="HOÀN TIỀN"
              />
            </div>
            <span class="font-medium">HOÀN TIỀN</span>
            <p>100% trong vòng 30 ngày</p>
          </div>
        </div>
        <div class="basis-2/6 border-2 p-8 hover:bg-gray-200">
          <div class="text-center">
            <div class="flex justify-center text-center">
              <img
                src="//theme.hstatic.net/1000325675/1000665687/14/policy3.png?v=35"
                alt="HỖ TRỢ  24/24"
              />
            </div>
            <span class="font-medium">HỖ TRỢ 24/24</span>
            <p>Gọi 19001009 bất cứ lúc nào</p>
          </div>
        </div>
      </div>

      <div class="flex mt-8">
        <!-- Hình lớn bên trái -->
        <div class="w-1/2">
          <div class="collection-item relative">
            <a href="#">
              <img
                src="//theme.hstatic.net/1000325675/1000665687/14/collection_1.jpg?v=35"
                alt="Bộ bàn ghế"
                title="Bộ bàn ghế"
              />
            </a>
            <div class="absolute bottom-3 left-5 right-3">
              <h3><a href="#" class="text-2xl font-semibold">Bộ bàn ghế</a></h3>
              <p>
                Những mẫu bộ bàn ghế mới nhất cho phòng khách của bạn trong hè
                này
              </p>
              <button
                class="border p-2 bg-transparent hover:bg-orange-600 hover:text-white mt-4"
              >
                Xem ngay
              </button>
            </div>
          </div>
        </div>

        <!-- Hình nhỏ bên phải -->
        <div class="w-1/2 flex flex-wrap ml-5">
          <div class="w-full sm:w-1/2">
            <div class="collection-item relative">
              <a href="#">
                <img
                  src="//theme.hstatic.net/1000325675/1000665687/14/collection_3.jpg?v=35"
                  alt="Ghế tựa"
                  title="Ghế tựa"
                  width="95%"
                />
              </a>
              <div class="absolute bottom-3 left-3 right-3">
                <h3><a href="#" class="text-2xl font-semibold">Ghế tựa</a></h3>
                <p>Những mẫu ghế tựa mới nhất</p>
              </div>
            </div>
          </div>

          <div class="w-full sm:w-1/2">
            <div class="collection-item relative">
              <a href="#">
                <img
                  src="//theme.hstatic.net/1000325675/1000665687/14/collection_3.jpg?v=35"
                  alt="Ghế sofa"
                  title="Ghế sofa"
                  width="95%"
                />
              </a>
              <div class="bottom-3 left-3 right-3 absolute">
                <h3><a href="#" class="text-2xl font-semibold">Ghế sofa</a></h3>
                <p>Những mấu ghế sofa mới nhất</p>
              </div>
            </div>
          </div>

          <div class="w-full sm:w-1/2">
            <div class="collection-item relative">
              <a href="#">
                <img
                  src="//theme.hstatic.net/1000325675/1000665687/14/collection_4.jpg?v=35"
                  alt="Bàn ghế gỗ"
                  title="Bàn ghế gỗ"
                  width="95%"
                />
              </a>
              <div class="bottom-3 left-3 right-3 absolute">
                <h3>
                  <a href="#" class="text-2xl font-semibold">Bàn ghế gỗ</a>
                </h3>
                <p>Những mẫu bàn ghế gỗ</p>
              </div>
            </div>
          </div>

          <div class="w-full sm:w-1/2">
            <div class="collection-item relative">
              <a href="#">
                <img
                  src="//theme.hstatic.net/1000325675/1000665687/14/collection_5.jpg?v=35"
                  alt="Bàn làm việc"
                  title="Bàn làm việc"
                  width="95%"
                />
              </a>
              <div class="absolute bottom-3 left-3 right-3">
                <h3>
                  <a href="#" class="text-2xl font-semibold">Bàn làm việc</a>
                </h3>
                <p>Những mẫu bàn làm việc</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center mt-8">
    <div class="text-center">
      <h5 class="text-lg font-bold mb-4 border-b-2 border-orange-600">
        SẢN PHẨM MỚI
      </h5>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <div class="text-center">
      <a href="#" class="text-sm font-medium mb-0 mr-3 hover:text-orange-600"
        >Mới nhất</a
      >
      <a href="#" class="text-sm font-medium mb-0 mr-3 hover:text-orange-600"
        >Nổi bật</a
      >
      <a href="#" class="text-sm font-medium mb-0 hover:text-orange-600"
        >Bán chạy</a
      >
    </div>
  </div>

  <div class="grid grid-cols-6 mt-5">
    <div class="col-start-2 col-span-4">
      <div class="flex flex-row gap-5">
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-5 mt-14">
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center mt-14">
        <div class="text-center">
          <h5 class="text-lg font-bold mb-2 border-b-2 border-orange-600">
            NỘI THẤT PHÒNG NGỦ
          </h5>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="text-center">
          <a href="#" class="text-sm font-extralight mb-0"
            >Những mẫu bàn phòng ngủ mới nhất 2018</a
          >
        </div>
      </div>

      <div class="flex flex-row gap-5 mt-14">
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center mt-14">
        <div class="text-center">
          <h5 class="text-lg font-bold mb-2 border-b-2 border-orange-600">
            GHẾ SOFA
          </h5>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="text-center">
          <a href="#" class="text-sm font-extralight mb-0"
            >Những mẫu bàn ghế mới nhất 2018</a
          >
        </div>
      </div>

      <div class="flex flex-row gap-5 mt-14">
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-14">
        <div class="text-center">
          <h5 class="text-lg font-bold mb-2 border-b-2 border-orange-600">
            TỦ
          </h5>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="text-center">
          <a href="#" class="text-sm font-extralight mb-0"
            >Những mẫu tủ mới nhất 2018</a
          >
        </div>
      </div>

      <div class="flex flex-row gap-5 mt-14">
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/4">
          <div class="product-thumbnail">
            <a
              href="/products/ban-cafe-tron-go-dep"
              title="Bàn cafe tròn gỗ đẹp"
            >
              <img
                src="//product.hstatic.net/1000325675/product/upload_1691e514c9a34839b3452bb4860b75fb_large.jpg"
                alt="Bàn cafe tròn gỗ đẹp"
                class="bethua"
                style="padding-top: 0px"
              />
            </a>
            <div class="text-center mt-2">
              <h6 class="text-orange-600 font-medium mb-2">
                Bàn cafe tròn gỗ đẹp
              </h6>
              <h6 class="font-medium mb-2">4,500,000₫</h6>
              <div class="action-item">
                <button
                  class="border-black border p-1 w-28 hover:bg-black hover:text-white"
                  title="Thêm vào giỏ hàng"
                >
                  <i class="icon_plus"></i> Mua ngay
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center mt-20">
    <div class="testimonial-item text-center">
      <img alt="Ngọc Trinh" src="//theme.hstatic.net/1000325675/1000665687/14/testimonial1.jpg?v=35" class="img-circle inline-block" />
      <h4 class="offset-top-20">
        <label class="text-normal">Ngọc Trinh</label>
      </h4>
      <q class="margin-top-15">
        Sản phẩm tốt, thái độ phục vụ chu đáo, đây là nơi mà tôi luôn tin tưởng
        suốt mấy năm qua<br/>Chúng tôi sẽ tiếp tục ủng hộ trong thời gian tới
      </q>
      <div class="star">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>     
    </div>
  </div>
  <div class="flex items-center justify-center mt-14">
        <div class="text-center">
          <h5 class="text-lg font-bold mb-2 border-b-2 border-orange-600">
            TIN TỨC
          </h5>
        </div>
    </div>
    <div class="grid grid-cols-6 mt-4">
        <div class="col-span-4 col-start-2">
            <div class="flex flex-row gap-5">
        <div class="basis-1/3">
            <article class="blog-item">
                <div class="blog-item-thumbnail">
                    <a href="/blogs/news/top-nhung-cach-phoi-mau-cho-can-phong-dep" class="img26">
                    <picture>
                        <source srcset="//file.hstatic.net/1000325675/article/blog-02_grande.jpg" media="(max-width: 480px)">
                        <img src="//file.hstatic.net/1000325675/article/blog-02_grande.jpg" alt="Top những cách phối màu cho căn phòng đẹp">
                    </picture>
                    </a>
                </div>
                <div class="blog-item-info">
                    <h3 class="blog-item-name">
                    <a href="#" class="text-2xl font-medium">Top những cách phối màu cho căn phòng đẹp</a>
                    </h3>
                    <div class="post-time mt-2 mb-3">
                    <i class="fa fa-clock-o"></i> Thg 10 15, 18 by <span class="author">Shop Admin</span>
                    </div>
                    <p class="blog-item-summary mb-3">Đối với gia đình Việt, phòng bếp luôn là nơi quan trọng vì ở đó, gia đình quây quần sum...</p>
                    <a href="#" class="font-medium text-orange-600">XEM THÊM <i class="fa-solid fa-arrow-right fa-2xs"></i></a>
                </div>
            </article>
        </div>
        <div class="basis-1/3">
            <article class="blog-item">
                <div class="blog-item-thumbnail">
                    <a href="/blogs/news/top-nhung-cach-phoi-mau-cho-can-phong-dep" class="img26">
                    <picture>
                        <source srcset="//file.hstatic.net/1000325675/article/blog-02_grande.jpg" media="(max-width: 480px)">
                        <img src="//file.hstatic.net/1000325675/article/blog-02_grande.jpg" alt="Top những cách phối màu cho căn phòng đẹp">
                    </picture>
                    </a>
                </div>
                <div class="blog-item-info">
                    <h3 class="blog-item-name">
                    <a href="#" class="text-2xl font-medium">Top những cách phối màu cho căn phòng đẹp</a>
                    </h3>
                    <div class="post-time mt-2 mb-3">
                    <i class="fa fa-clock-o"></i> Thg 10 15, 18 by <span class="author">Shop Admin</span>
                    </div>
                    <p class="blog-item-summary mb-3">Đối với gia đình Việt, phòng bếp luôn là nơi quan trọng vì ở đó, gia đình quây quần sum...</p>
                    <a href="#" class="font-medium text-orange-600">XEM THÊM <i class="fa-solid fa-arrow-right fa-2xs"></i></a>
                </div>
            </article>
        </div>
        <div class="basis-1/3">
            <article class="blog-item">
                <div class="blog-item-thumbnail">
                    <a href="/blogs/news/top-nhung-cach-phoi-mau-cho-can-phong-dep" class="img26">
                    <picture>
                        <source srcset="//file.hstatic.net/1000325675/article/blog-02_grande.jpg" media="(max-width: 480px)">
                        <img src="//file.hstatic.net/1000325675/article/blog-02_grande.jpg" alt="Top những cách phối màu cho căn phòng đẹp">
                    </picture>
                    </a>
                </div>
                <div class="blog-item-info">
                    <h3 class="blog-item-name">
                    <a href="#" class="text-2xl font-medium">Top những cách phối màu cho căn phòng đẹp</a>
                    </h3>
                    <div class="post-time mt-2 mb-3">
                    <i class="fa fa-clock-o"></i> Thg 10 15, 18 by <span class="author">Shop Admin</span>
                    </div>
                    <p class="blog-item-summary mb-3">Đối với gia đình Việt, phòng bếp luôn là nơi quan trọng vì ở đó, gia đình quây quần sum...</p>
                    <a href="#" class="font-medium text-orange-600">XEM THÊM <i class="fa-solid fa-arrow-right fa-2xs"></i></a>
                </div>
            </article>
        </div>
    </div>
        </div>
    </div>
</template>