<template>
    <footer class="bg-zinc-800 text-white mt-8">
      <div class="grid grid-cols-6">
          <div class="col-span-4 col-start-2 mt-10">
            <div class="flex flex-row gap-8 border-b pb-10">
              <div class="basis-1/4">
                <h3><span class="font-normal text-xl">VỀ CỬA HÀNG</span></h3>
                <ul class="text-neutral-500">								
                  <li class="mt-3 mb-3 border-b pb-4">
                    <p style="padding-left: 0;">
                      Cửa hàng nội thất Furniture chuyên cung cấp tất cả các mặt hàng nội thất cao cấp trong nước và quốc tế
                    </p>
                  </li>
                  <li class="clearfix">Địa chỉ: 268 Cầu Giấy, Hà Nội, Vietnam</li>
                  <li class="clearfix">Email: <a href="mailto:dualeotheme@gmail.com">dualeotheme@gmail.com</a></li>
                  <li class="clearfix">Điện thoại: <a href="tel:0912117494">0912117494</a></li>
                </ul>
						  </div>
              <div class="basis-1/4">
                <h3><span class="font-normal text-xl">NHẬN KHUYẾN MÃI</span></h3>
                <ul class="text-neutral-500 mt-3 leading-8">
								
								<li><a href="/"><i class="fa-solid fa-chevron-right fa-2xs"></i> Trang chủ</a></li>
								
								<li><a href="/collections/all"><i class="fa-solid fa-chevron-right fa-2xs"></i> Sản phẩm</a></li>
								
								<li><a href="/blogs/news"><i class="fa-solid fa-chevron-right fa-2xs"></i> Blog</a></li>
								
								<li><a href="/pages/about-us"><i class="fa-solid fa-chevron-right fa-2xs"></i> Giới thiệu</a></li>
								
								<li><a href="/pages/lien-he"><i class="fa-solid fa-chevron-right fa-2xs"></i> Liên hệ</a></li>
								
							  </ul>
						  </div>
              <div class="basis-1/4">
                <h3><span class="font-normal text-xl">CHÍNH SÁCH</span></h3>
                <ul class="text-neutral-500 mt-3 leading-8">
								
								<li><a href="/"><i class="fa-solid fa-chevron-right fa-2xs"></i> Trang chủ</a></li>
								
								<li><a href="/collections/all"><i class="fa-solid fa-chevron-right fa-2xs"></i> Sản phẩm</a></li>
								
								<li><a href="/blogs/news"><i class="fa-solid fa-chevron-right fa-2xs"></i> Blog</a></li>
								
								<li><a href="/pages/about-us"><i class="fa-solid fa-chevron-right fa-2xs"></i> Giới thiệu</a></li>
								
								<li><a href="/pages/lien-he"><i class="fa-solid fa-chevron-right fa-2xs"></i> Liên hệ</a></li>
								
							  </ul>
						  </div>
              <div class="basis-1/4">
                <h3><span class="font-normal text-xl">TOP HOT</span></h3>
                <ul class="text-neutral-500 mt-3 leading-8">
								
								<li><a href="/"><i class="fa-solid fa-chevron-right fa-2xs"></i> Trang chủ</a></li>
								
								<li><a href="/collections/all"><i class="fa-solid fa-chevron-right fa-2xs"></i> Sản phẩm</a></li>
								
								<li><a href="/blogs/news"><i class="fa-solid fa-chevron-right fa-2xs"></i> Blog</a></li>
								
								<li><a href="/pages/about-us"><i class="fa-solid fa-chevron-right fa-2xs"></i> Giới thiệu</a></li>
								
								<li><a href="/pages/lien-he"><i class="fa-solid fa-chevron-right fa-2xs"></i> Liên hệ</a></li>
								
							  </ul>
						  </div>
            </div>
            <div class="flex flex-row mt-5">
              <div class=basis-1/4>
                <span class="text-neutral-500">© Bản quyền thuộc về </span>Dualeo 
                <span class="text-neutral-500">Cung cấp bởi</span> Haravan
              </div>
            </div>
          </div>
      </div>
  </footer>
</template>