<template>
    <header>
    <div class="container">
      <div class="grid grid-cols-6 gap-4 border-b">
        <div class="col-start-2 col-span-4 -mx-4 p-3">
          <div class="flex flex-row">
            <div class="basis-1/2">
                <span class="header-contact-item"
                ><i class="fa fa-phone-square"></i>
                <a href="tel:0912117494" class="hover:text-amber-600"> 0912117494</a>
                </span>
                <span class="hidden-xs hidden-sm fix-iconline"> | </span>
                <span class="header-contact-item hidden-sm hidden-xs"
                ><i class="fa fa-envelope"></i>
                <a href="mailto:dualeotheme@gmail.com" class="hover:text-amber-600"> dualeotheme@gmail.com</a>
                </span>
          </div>
          <div class="basis-1/2 text-end">
                <span class="header-contact-item hover:text-amber-600"
                ><i class="fa-regular fa-circle-check"></i>
                <a href="tel:0912117494"> Thanh toán</a>
                </span>
                <span class="hidden-xs hidden-sm fix-iconline"> | </span>
                <div class="relative group inline-block text-left z-10">
                  <a href="#" class="items-center text-gray-700 hover:text-orange-600 focus:outline-none group-hover:block group-hover:visible">
                    <i class="fa fa-user"></i>
                    <span class="ml-2">Tài khoản</span>
                  </a>
                  <div class="absolute right-0 left-auto hidden mt-3 w-48 shadow-lg bg-white ring-1 ring-black ring-opacity-5 group-hover:block group-hover:visible">
                    <div class="py-3">
                      <div><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:text-orange-600" ><i class="fa fa-user-plus"></i> Đăng ký</a></div>
                      <div><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:text-orange-600" ><i class="fa fa-sign-in"></i> Đăng nhập</a></div>
                    </div>
                  </div>
                </div>
          </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4 -mx-12 p-11 items-center">
          <div class="flex flex-row">
            <div class="basis-1/2">
              <a href="/" class="logo-wrapper ">					
							<img src="//theme.hstatic.net/1000325675/1000665687/14/logo.png?v=35" alt="logo Của hàng nội thất Dưa Leo Furniture">					
						</a>
          </div>
          <div class="basis-1/2 flex justify-end">
            <div class="relative group inline-block text-left border-2 p-2">
                  <a href="#" class="inline-flex items-center text-gray-700  focus:outline-none ">
                    <span class="mr-3 mt-1">Tất cả</span>
                    <i class="fa-solid fa-chevron-down fa-2xs mt-2"></i>
                  </a>
                  <div class="absolute left-0 hidden mt-3 w-48 shadow-lg bg-white ring-1 ring-black ring-opacity-5 group-hover:block group-hover:visible">
                    <div class="py-3">
                      <div><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-orange-600 hover:text-white" >Sản phẩm mới</a></div>
                      <div><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-orange-600 hover:text-white" > Nội thất phòng ngủ </a></div>
                      <div><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-orange-600 hover:text-white" > Nội thất phòng khách </a></div>
                      <div><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-orange-600 hover:text-white" > Sản phẩm nổi bật </a></div>
                      <div><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-orange-600 hover:text-white" > Sản phẩm khuyến mãi </a></div>
                    </div>
                  </div>
            </div>
            <div class="relative">
              <input type="text" class="border-2 p-3 ">
              <i class="absolute top-1/2 right-4 transform -translate-y-1/2 text-gray-500 fas fa-search"></i>
            </div>
            <button class="bg-orange-600 w-12 text-white ml-2">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <div class="ml-4">
              <h4 class="font-bold">Giỏ hàng</h4>
              <h4>(0) Sản phẩm</h4>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-6 bg-neutral-800">
        <div class="col-start-2 col-span-4 -mx-12 p-4 items-center">
          <ul class="flex justify-items-center text-white font-semibold gap-4 ml-8">
            <li><a href="#" class="hover:text-orange-600">TRANG CHỦ</a></li>
            <li class="relative group inline-block text-left z-10">
                  <a href="#" class="items-center text-white hover:text-orange-600 focus:outline-none group-hover:block group-hover:visible">
                    SẢN PHẨM
                    <i class="fa-solid fa-chevron-down fa-2xs"></i>
                  </a>
                  <div class="absolute w-80 left-auto hidden mt-4 shadow-lg bg-white ring-1 ring-black ring-opacity-5 group-hover:block group-hover:visible">
                    <div class="py-3 flex ">
                      <div><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:text-orange-600" >NỘI THẤT PHÒNG KHÁCH</a></div>
                    </div>
                  </div>
            </li>
            <li><a href="#" class="hover:text-orange-600">BLOG</a></li>
            <li><a href="#" class="hover:text-orange-600">GIỚI THIỆU</a></li>
            <li><a href="#" class="hover:text-orange-600">LIÊN HỆ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>