<template>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <Header />
  <Carousel />
  <Footer />
</template>

<script>
export default {};
</script>
<style lang="scss" scoped></style>
